/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

#categoryMenu {
    font-family: 'Arial Rounded MT';
    font-size: x-large;
    color: black;
}

.customizeLine {
    border: 1px groove black;
}


.level {
    filter: invert(80%) sepia(10%) saturate(1174%) hue-rotate(112deg) brightness(90%) contrast(84%);
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.file-upload {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.file-input {
    display: none;
}

.customize-file-upload-button {
    -webkit-appearance: none;
    background: #78C2AD;
    border: 2px solid #317C66;
    border-radius: 4px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #ffffff;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

    .customize-file-upload-button:active {
        background: #317C66
    }

.file-upload-label {
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#ingredients-page {
    background-color: antiquewhite;
    font-family: 'Brush Script MT';
    font-size: x-large;
    border-radius: 25px;
    transform-origin: bottom left;
    transform: rotate(7deg);
}

#customize-edit-recipe {
    display: inline-block;
    border-radius: 8px;
    background-color: #78C2AD;
    border: none;
    color: #060606;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    #customize-edit-recipe:hover {
        border: 2px solid #146C53;
    }

.recipe-thumb {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

    .recipe-thumb img {
        width: 100%;
        vertical-align: middle;
    }

.recipe-name-style {
    font-size: 40px;
    color: black;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: Mistral,cursive
}

.fullrecipe-button {
    display: inline-block;
    font-size: 13px;
    color: black;
    border: 2px solid #78C2AD;
    text-transform: capitalize;
    padding: 13px 34px;
    font-weight: 500;
    font-family: sans-serif;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

    .fullrecipe-button:hover {
        background: #78C2AD;
        color: white;
    }


#delete-content {
    position:relative;
}

#delete-recipe-button{
    position:absolute;
    top:0px;
    right:0px;
}



.style-question{
    font-size:xx-large;
    font-family:'Berlin Sans FB';
    color:black;
}

.outter {
    display: flex;
    justify-content: center;
    /*align-items: flex-end;*/
}

#comment-question{
    font-size:medium;
    color:black;
    font-family:'Berlin Sans FB';
}