@model CooksAndBakes.Web.ViewModels.Recipes.AllUserRecipesViewModel

<div class="somePadding">
    <div class="container">
        <div class="row">
            @foreach (var recipe in Model.UserRecipes)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 mt-4">
                    <div id="delete-content">
                        <a href="#" id="delete-recipe-button" onclick="deleteR('@recipe.RecipeId')">
                            <i class="fas fa-trash-alt" style="color:black"></i>
                        </a>
                    </div>
                    <div class="single-recipe text-center">
                        <div class="recipe-thumb">
                            <img alt="" src="@recipe.ImageUrl">
                        </div>
                        <h3 class="recipe-name-style">@recipe.Title</h3>
                        <span>@recipe.CategoryName</span>
                        <p class="complexity">
                            @if (recipe.Level == 1)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 2)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 3)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 4)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" />
                            }
                            else if (recipe.Level == 5)
                            {
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                                <img src="~/images/chef.png" class="level" />
                            }
                        </p>
                        <a class="fullrecipe-button" href="/Recipes/ById?recipeId=@recipe.RecipeId ">View Full Recipe</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script >
        function deleteR(id) {
            Swal.fire({
                title: 'Are you sure you want to remove this recipe from your RecipeBook?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#F3969A',
                cancelButtonColor: '#78C2AD',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    window.location.href = `/Recipes/Delete?recipeId=${id}`;
                }
            });
        }

        $('#delete-recipe-button').on('click', function (e) {
            e.preventDefault();
        });

    </script>
}
